@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Contract Monthly Claim System (CMCS)</h1>
    <p class="lead">
        Streamlining claim submissions and approvals for independent contractors.
    </p>
    </div>
